<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/app.controller.js"></script>
  <script src="js/app.directive.js"></script>
  <script src="js/app.service.js"></script>
  <script src="js/app.filter.js"></script>
</head>
<body data-ng-app="demoApp" data-ng-controller="mainController">
<form data-ng-submit="addUser()">
  <input type="text" data-ng-model="newUser.firstName" placeholder="Gimme a first name!">
  <input type="text" data-ng-model="newUser.lastName" placeholder="Gimme a last  name!">
  <button type="submit">ADD USER</button>
</form>

<div data-ng-repeat="user in users | sortByFirstName"><say-hello message="Tervetuola! "></say-hello></div>
</body>
</html>
